@font-face{
  font-family: space;
  src: url(../fonts/space-bd-bt-bold.ttf);
}
@font-face{
  font-family: variable;
  src:url(../fonts/variable/variable-bold.otf);
}
@font-face{
  font-family: variable;
  src:url(../fonts/variable/variable-italic.otf);
  font-style: italic;
}
@font-face{
  font-family: variable;
  src:url(../fonts/variable/variable.otf);
  font-weight: 100;
}
@font-face{
  font-family: variable;
  src:url(../fonts/variable/variable-black.otf);
  font-weight: bold;
}
@font-face{
  font-family: variable;
  src:url(../fonts/variable/variable-bolditalic.otf);
  font-weight: bold;
  font-style: italic;
}