$azul: #2c7cec;
$azul-oscuro: #212d50;
$azul-claro:#15B8EC;
$amarillo: #FFE041;
$verde: #77C043;
$morado: #837099;
$rojo: #D21F57;

$facebook: #3B5998;
$twitter: #5EA9DD;

$fuente-principal: variable;
$tamanyo-base: 17px;

$radio-paneles: 10px;
$padding-general: 50px 0;